#!/usr/bin/env nextflow

conda.enabled = true

params {
    condaenv1 = "/home/rebecca/miniconda3/envs/unitig-pipeline"

    condaenv2 = "/home/rebecca/miniconda3/envs/hierarchical-ml"

    reads = "/home/rebecca/HierarchicalML/unitig_pipeline/local_salmonella_samples_250923/*_*-0.salmonella-typing.ngsservice.{R1,R2}.fastq.gz"

    tabfile_name = "local_salmonella_samples_250923.tab"

    scriptdir = "/home/rebecca/HierarchicalML/unitig_pipeline"

    datadir = "/home/rebecca/HierarchicalML/data"

    outdir = "/home/rebecca/HierarchicalML/unitig_pipeline/local_salmonella_samples_250923/"

    outdirname = "local_salmonella_samples_250923"

    notebook = "/home/rebecca/HierarchicalML/validation_data/ncbi_poland/classify_new_samples.ipynb"

    hc_package = "/home/rebecca/HierarchicalML/HC_package/HierarchicalClassification.py"

    optimised_model = "/home/rebecca/HierarchicalML/optimised_model/optimised_model_data.pkl"

    cpus = 4
}
